/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. application Section
   e. character Section
   f. Call To Action Section
   g. token Section
   h. roadmap Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

/* body { background: #0f0f0f; } */

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

/* header {
   position: relative;
   height: 1080px;
   min-height: 500px;
   width: 100%;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: visible;
} */

#home {
   width: 100%;
   height: 1080px;
   background: #00001e url(../images/homeBackground1.png) no-repeat 50%;
}

.wrapping {
   width: 1200px;
   margin: 0 auto;
}

/* .wrapping .header {
   display: flex;
   align-items: center;
   height: 80px;
}

.wrapping .header .logo {
   margin-right: 60px;
}

.wrapping .header .logo .img {
   width: 66px;
   height: 57px;
} */

/* .wrapping #nav-wrap {
   font: 18px Arial;
   width: 1200px;
   text-transform: uppercase;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   top: 0;
   background-color: transparent;
   display: flex;
   align-items: center;
   height: 80px;
}

#nav-wrap > a.mobile-btn { display: none; }

.wrapping .header .nav {
   flex: 1;
   display: flex;
   height: 80px;
   align-items: center;
}

.wrapping .header .nav a {
   height: 80px;
   font-size: 18px;
   font-family: Arial;
   font-weight: 400;
   color: #fff;
   line-height: 80px;
   margin-right: 40px;
   position: relative;
}

.wrapping .header .nav a:active { background-color: transparent !important; }
.wrapping .header .nav a.current a { color: #F06000; }

.wrapping .header .nav_buttons {
   display: flex;
   align-items: center;
}

.wrapping .header .nav_buttons button {
   width: 129px;
   height: 30px;
   background: #161e32;
   border: 1px solid #f5b836;
   border-radius: 16px;
   font-size: 14px;
   font-weight: 700;
   color: #f5b836;
   line-height: 30px;
   text-align: center;
   margin-left: 30px;
} */

/* 
#home .header {
   display:flex;
   align-items: center;
   height: 80px;
}

#home .header .logo {
   margin-right:60px;
}

#home .header .nav {
   flex: 1;
   display: flex;
   height: 80px;
   align-items: center;
}

#home .header .nav a {
   height: 80px;
   font-size: 18px;
   font-family: Arial;
   font-weight: 400;
   color: #fff;
   line-height: 80px;
   margin-right: 40px;
   position: relative;
}

#home .header .nav a::after {
   height: 80px;
   font-size: 18px;
   font-family: Arial;
   font-weight: 400;
   color: #fff;
   line-height: 80px;
   margin-right: 40px;
   position: relative;
}

#home .header .btns {
   display: flex;
   align-items: center;
}

#home .header .btns .btn {
   width: 129px;
   height: 30px;
   background: #161e32;
   border: 1px solid #f5b836;
   border-radius: 16px;
   font-size: 14px;
   font-weight: 700;
   color: #f5b836;
   line-height: 30px;
   text-align: center;
   margin-left: 30px;
}
 */

 #home .btns {
   display: flex;
   align-items: center;
   margin-right: -18rem;
   margin-top: 14px;
   margin-left: 10rem;
}

 #home .btns .head_btn {
   width: 129px;
   height: 30px;
   background: #161e32;
   border: 1px solid #5375fc;
   border-radius: 16px;
   font-size: 14px;
   font-weight: 700;
   color: #5375fc;
   line-height: 30px;
   text-align: center;
   /* margin-left: 30px; */
   text-decoration:none;
}

#home .main {
   display: flex;
   align-items: end;
   padding-top: 28rem;  
}

#home .main .side {
   width: 317px;
   display: flex;
   flex-direction: column;
}

#home .main .side img {
   width: 317px;
   height: 326px;
   margin-bottom: 64px;
}

#home .main .side .btn {
   width: 260px;
   height: 54px;
   background: #161e32;
   border: 1px solid #5375fc;
   border-radius: 54px;
   font-size: 20px;
   font-weight: 700;
   color: #5375fc;
   line-height: 40px;
   text-align: center;
   margin-top: 40px;
   text-decoration: none;
}

#home .main .banner {
   width: 883px;
   height: 550px;
}

#home .main video {
   width: 452px;
   height: 562px;
   margin-bottom: 64px;
   margin-left: auto;
   
}









/* vertically center banner section */
/* header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;s
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color: #A8A8A8;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
} */

/* header social links */
/* header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: #fff; } */
/* header .social li a:hover { color: #11ABB0; } */

/* scrolldown link */
#home .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .23s ease-in-out;
}
#home .scrolldown a:hover { color: #11ABB0; }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 /* margin: 0; */
	 padding: 0;
	 border: none;
	 outline: none;
    margin-left: auto;
    margin-top: 4px;
    margin-right: -10px;
}

/* nav-wrap */
#nav-wrap {
   font: 18px Arial;
   width: 1200px;
   text-transform: uppercase;
   /* letter-spacing: 2.5px; */
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   /* left: 0; */
   top: 0;
   background-color: transparent;
   display: flex;
   align-items: center;
   height: 80px;
   margin-top: 14px;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto; 

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

 /* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; }


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
   /* background: #2B2B2B; */
   /* padding-top: 96px; */
   /* padding-bottom: 66px; */
   /* overflow: hidden; */

   position: relative;
   height: 720px;
   width: 100%;
   /* background: #161415 url(../images/block2.f5672ddd.jpg) no-repeat 50%; */
   /* background-size: cover !important; */
	/* -webkit-background-size: cover !important; */
   /* text-align: center; */
   /* overflow: hidden; */
   /* background-color: #00001e; */
   background: #00001e url(../images/about-bg.png) no-repeat 25%;
}

/* ///////////// */
#about .title {
   padding-top: 96px;
   margin-bottom: 10px;
}

#about .txt {
   width: 654px;   
}

#about .txt p {
   font-size: 18px;
   font-family: Arial;
   font-weight: 400;
   color: #7d8593;
   line-height: 30px;
}

#about .chain {
   position: absolute;
   width: 467px;
   top: 44px;
   left: 50%;
   margin-left: 200px;
}


#about .txt_right {
   position: absolute;
   width: 525px;
   top: 46rem;
   left: 50%;
   margin-left: 200px;   
}

#about .txt_right p{
   font-size: 18px;
   font-family: Arial;
   font-weight: 400;
   color: #7d8593;
   line-height: 30px;
}

#about .contactUS {
   background: url(../images/about-telegram.png) no-repeat ;   
   height: 20rem;
}

#about .contactUS p {
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
   line-height: 19px;
   width: 198px;
   margin-bottom: 13px;
   padding-top: 30px;
}

#about .contactUS a {
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 13px 35px;
   width: 112px;
   height: 48px;
   left: 0;
   background: rgba(255,255,255,.05);
   border: 2px solid rgba(255,255,255,.45);
   box-sizing: border-box;
   border-radius: 10px;
   font-size: 16px;
   line-height: 22px;
   text-align: center;
   letter-spacing: .06em;
   text-transform: uppercase;
   color: #fff;
   position: relative;
   z-index: 2;
   text-decoration: none;
}

#about .contactUS a:hover {
   background-color: rgba(111,220,255,.7);
   border : 2px solid rgba(111,220,255,.7)
}








#about a, #about a:visited  { color: #fff; }
/* #about a:hover, #about a:focus { color: #11ABB0; } */

#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #fff;
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   color: #7A7A7A;
}
#about .profile-pic {
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}
#about .roadmap-details { width: 41.66667%; }
#about .download {
   width: 58.33333%;
   padding-top: 6px;
}
#about .main-col { padding-right: 5%; }
#about .download .button {
   margin-top: 6px;
   background: #444;
}
#about .download .button:hover {
   background: #fff;
   color: #2B2B2B;
}
#about .download .button i {
   margin-right: 15px;
   font-size: 20px;
}


/* ------------------------------------------------------------------ */
/* d. Application Section
/* ------------------------------------------------------------------ */

#application {
   /* background: #fff; */
   /* padding-top: 90px; */
   /* padding-bottom: 72px; */
   /* overflow: hidden; */

   position: relative;
   height: 973px;
   /* min-height: 500px; */
   width: 100%;
   background: url(../images/homeBackground2.png) no-repeat 50%;
   /* background-size: cover !important; */
	/* -webkit-background-size: cover !important; */
   /* text-align: center; */
   /* overflow: hidden; */
}

#application .title {
   padding-top: 96px;
   margin-bottom: 90px;
}

#application .condition {
   display: flex;
   justify-content: space-between;
   align-items: end;
}

#application .condition .box {
   width: 352px;
   background-repeat: no-repeat;
   background-position: 50%;
   padding-top: 125px;
   padding-left: 36px;
   padding-right: 36px;
}

#application .condition .box:first-child {
   height: 606px;
   background: url(../images/block3-img1.db8902a4.png);
}

#application .condition .box:nth-child(2) {
   height: 507px;
   background: url(../images/block3-img2.92fb6a06.png);
}

#application .condition .box:nth-child(3) {
   height: 372px;
   background: url(../images/block3-img3.49fe6162.png);
}

#application .condition .box h6 {
   height: 30px;
   font-size: 24px;
   font-family: Arial;
   font-weight: 700;
   color: #d0d7e3;
   line-height: 30px;
   text-align: center;
}

#application .condition .box p {
   font-size: 18px;
   font-family: Arial;
   font-weight: 400;
   color: #7d8593;
   line-height: 30px;
   margin-top: 35px;
   padding-left: 16px;
   position: relative;
}

#application .condition .box p:before {
   position: absolute;
   content: "";
   width: 6px;
   height: 16px;
   background: #cba53d;
   left: 0;
   top: 6px;
}








#application a, #application a:visited  { color: #11ABB0; }
#application a:hover, #application a:focus { color: #313131; }

#application h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#application h1 span {
   border-bottom: 3px solid #11ABB0;
   padding-bottom: 6px;
}
#application h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
}

#application .header-col { padding-top: 9px; }
#application .main-col { padding-right: 10%; }

.education, .work {
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid #E8E8E8;
}
#application .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}
#application .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#application .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}

/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}
.bars .skills {
  	margin-top: 36px;
   list-style: none;
}
.bars li {
   position: relative;
  	margin-bottom: 60px;
  	background: #ccc;
  	height: 42px;
  	border-radius: 3px;
}
.bars li em {
	font: 15px 'opensans-bold', sans-serif;
   color: #313131;
	text-transform: uppercase;
   letter-spacing: 2px;
	font-weight: normal;
   position: relative;
	top: -36px;
}
.bar-expand {
   position: absolute;
   left: 0;
   top: 0;

   margin: 0;
   padding-right: 24px;
  	background: #313131;
   display: inline-block;
  	height: 42px;
   line-height: 42px;
   border-radius: 3px 0 0 3px;
}

.photoshop {
  	width: 60%;
  	-moz-animation: photoshop 2s ease;
  	-webkit-animation: photoshop 2s ease;
}
.illustrator {
  	width: 55%;
  	-moz-animation: illustrator 2s ease;
  	-webkit-animation: illustrator 2s ease;
}
.wordpress {
  	width: 50%;
  	-moz-animation: wordpress 2s ease;
  	-webkit-animation: wordpress 2s ease;
}
.css {
  	width: 90%;
  	-moz-animation: css 2s ease;
  	-webkit-animation: css 2s ease;
}
.html5 {
  	width: 80%;
  	-moz-animation: html5 2s ease;
  	-webkit-animation: html5 2s ease;
}
.jquery {
  	width: 50%;
  	-moz-animation: jquery 2s ease;
  	-webkit-animation: jquery 2s ease;
}

@-moz-keyframes photoshop {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}
@-moz-keyframes illustrator {
  0%   { width: 0px;  }
  100% { width: 55%;  }
}
@-moz-keyframes wordpress {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-moz-keyframes css {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}
@-moz-keyframes html5 {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-moz-keyframes jquery {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}

@-webkit-keyframes photoshop {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}
@-webkit-keyframes illustrator {
  0%   { width: 0px;  }
  100% { width: 55%;  }
}
@-webkit-keyframes wordpress {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-webkit-keyframes css {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}
@-webkit-keyframes html5 {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes jquery {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}

/* ------------------------------------------------------------------ */
/* e. Character Section
/* ------------------------------------------------------------------ */

#character {
   /* background: #ebeeee;
   padding-top: 90px;
   padding-bottom: 60px; */
   position: relative;
   height: 1070px;
   /* min-height: 500px; */
   width: 100%;
   background: #00001e url(../images/characterBg.png) no-repeat 50%;
   /* background-size: cover !important; */
	/* -webkit-background-size: cover !important; */
   /* text-align: center; */
   /* overflow: hidden; */

}

#character .title {
   padding-top: 96px;
   margin-bottom: 90px;
}

#character .condition {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

#character .condition .item {
   margin-bottom: 60px;
}








#character h1 {
   font: 15px/24px 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 48px;
   color: #95A3A3;
}

/* character Content */
#character-wrapper .columns { margin-bottom: 36px; }
.character-item .item-wrap {
   background: #fff;
   overflow: hidden;
   position: relative;

   -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.character-item .item-wrap a {
   display: block;
   cursor: pointer;
}

/* overlay */
.character-item .item-wrap .overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;

	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   background: url(../images/overlay-bg.png) repeat;
}
.character-item .item-wrap .link-icon {
   display: block;
   color: #fff;
   height: 30px;
   width: 30px;
   font-size: 18px;
   line-height: 30px;
   text-align: center;

   opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -15px;
   margin-top: -15px;
}
.character-item .item-wrap img {
   vertical-align: bottom;
}
.character-item .character-item-meta { padding: 18px }
.character-item .character-item-meta h5 {
   font: 14px/21px 'opensans-bold', sans-serif;
   color: #fff;
}
.character-item .character-item-meta p {
   font: 12px/18px 'opensans-light', sans-serif;
   color: #c6c7c7;
   margin-bottom: 0;
}

/* on hover */
.character-item:hover .overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}
.character-item:hover .link-icon {
   opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}

/* popup modal */
.popup-modal {
	max-width: 550px;
	background: #fff;
	position: relative;
	margin: 0 auto;
}
.popup-modal .description-box { padding: 12px 36px 18px 36px; }
.popup-modal .description-box h4 {
   font: 15px/24px 'opensans-bold', sans-serif;
	margin-bottom: 12px;
   color: #111;
}
.popup-modal .description-box p {
	font: 14px/24px 'opensans-regular', sans-serif;
   color: #A1A1A1;
   margin-bottom: 12px;
}
.popup-modal .description-box .categories {
   font: 11px/21px 'opensans-light', sans-serif;
   color: #A1A1A1;
   text-transform: uppercase;
   letter-spacing: 2px;
   display: block;
   text-align: left;
}
.popup-modal .description-box .categories i {
   margin-right: 8px;
}
.popup-modal .link-box {
   padding: 18px 36px;
   background: #111;
   text-align: left;
}
.popup-modal .link-box a {
   color: #fff;
	font: 11px/21px 'opensans-bold', sans-serif;
	text-transform: uppercase;
   letter-spacing: 3px;
   cursor: pointer;
}
.popup-modal a:hover {	color: #00CCCC; }
.popup-modal a.popup-modal-dismiss { margin-left: 24px; }


/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
   opacity: 0;
   -webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
   transition: all 200ms ease-in-out;
}
/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
   opacity: 1;
}
/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
   opacity: 0;
}

/* ------------------------------------------------------------------ */
/* f. Call To Action Section
/* ------------------------------------------------------------------ */

#call-to-action {
   background: #212121;
   padding-top: 66px;
   padding-bottom: 48px;
}
#call-to-action h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #fff;
}
#call-to-action h1 span { display: none; }
#call-to-action .header-col h1:before {
   font-family: 'FontAwesome';
   content: "\f0ac";
	padding-right: 10px;
	font-size: 72px;
   line-height: 72px;
   text-align: left;
   float: left;
   color: #fff;
}
#call-to-action .action {
   margin-top: 12px;
}
#call-to-action h2 {
   font: 28px/36px 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin-bottom: 6px;
}
#call-to-action h2 a {
   color: inherit;
}
#call-to-action p {
   color: #636363;
   font-size: 17px;
}
/*#
call-to-action .button {
	color:#fff;
   background: #0D0D0D;
}
*/
#call-to-action .button:hover,
#call-to-action .button:active {
   background: #FFFFFF;
   color: #0D0D0D;
}
#call-to-action p span {
	font-family: 'opensans-semibold', sans-serif; 
	color: #D8D8D8;
}

/* ------------------------------------------------------------------
/* g. Token
/* ------------------------------------------------------------------ */

#token {
   position: relative;
   height: 697px;
   /* min-height: 500px; */
   width: 100%;
   background: #161415 url(../images/block5.d7320f0d.jpg) no-repeat 50%;
   /* background-size: cover !important; */
	/* -webkit-background-size: cover !important; */
   /* text-align: center; */
   /* overflow: hidden; */
}

#token .title {
   padding-top: 96px;
   margin-bottom: 90px;
}

#token .condition {
   display: flex;
   justify-content: space-between;
}

#token .condition .left {
   width: 357px;
}

#token .condition .left .top h5 {
   height: 50px;
   font-size: 36px;
   font-family: DINPro;
   font-weight: 700;
   color: #f5b836;
   line-height: 50px;
}

#token .condition .left .top p {
   height: 20px;
   font-size: 20px;
   font-family: Arial;
   font-weight: 700;
   color: #f5b836;
}

#token .condition .left .middle {
   margin-top: 24px;
   border-radius: 8px;
   overflow: hidden;
}

#token .condition .left .middle .row {
   display: flex;
   border-bottom: 1px solid #6a789a;
}

#token .condition .left .middle .row .label {
   width: 165px;
   height: 54px;
   line-height: 54px;
   padding: 0 18px;
   background: #333d4d;
   color: #d6deed;
}

#token .condition .left .middle .row .value {
   flex: 1;
   height: 54px;
   line-height: 54px;
   padding: 0 18px;
   background: #3c4656;
   color: #e3e9f4;
}

#token .condition .left .middle .row:last-child{
   border-bottom: 0;
}

#token .condition .left button {
   height: 60px;
   background: #f5b836;
   border: 1px solid #f5b836;
   box-shadow: 0 2px 10px 0 rgb(245 184 54 / 30%);
   border-radius: 30px;
   font-family: Arial;
   color: #82480b;
   font-weight: 700;
   padding: 0 32px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 30px;
}

#token .condition .left button h6 {
   font-size: 20px;
   margin-bottom: 6px;
}

#token .condition .left button p {
   font-size: 12px;
}

#token .condition .right {
   width: 710px;
}

#token .condition .right img {
   width: 100%;
}





   

#token .text-container {
   padding-top: 96px;
   padding-bottom: 66px;
}
#token h1 {
   font: 18px/24px 'opensans-bold', sans-serif;   
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #fff;
}
#token h1 span { display: none; }
#token .header-col { padding-top: 9px; }
#token .header-col h1:before {
   font-family: 'FontAwesome';
   content: "\f10d";
	padding-right: 10px;
	font-size: 72px;
   line-height: 72px;
   text-align: left;
   float: left;
   color: #fff;
}

/*	Blockquotes */
#token blockquote {
   margin: 0 0px 30px 0px;
   padding-left: 0;
   position: relative;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}
#token blockquote:before { content: none; }
#token blockquote p {
   font-family: 'librebaskerville-italic', serif;
   padding: 0;
   font-size: 24px;
   line-height: 48px;
   color: #fff
}
#token blockquote cite {
   display: block;
   font-size: 12px;
   font-style: normal;
   line-height: 18px;
   color: #fff;
}
#token blockquote cite:before { content: "\2014 \0020"; }
#token blockquote cite a,
#token blockquote cite a:visited { color: #8B9798; border: none }

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; padding: 0;}

/* Necessary Styles */
.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container { zoom: 1; position: relative; }

/* Clearfix for .slides */
.slides:before,
.slides:after {
   content: " ";
   display: table;
}
.slides:after {
   clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }

/* Slider Styles */
.slides { zoom: 1; }
.slides > li {
   /*margin-right: 5px; */
   overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: left;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 12px;
    height: 12px;
    display: block;
    background: #ddd;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
}
.flex-control-paging li a:hover {
    background: #CCC;
    background: rgba(255, 255, 255, .7);
}
.flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, .9);
    cursor: default;
}

/* ------------------------------------------------------------------ */
/* h. Roadmap Section
/* ------------------------------------------------------------------ */

#roadmap {
   /* background: #191919;
   padding-top: 96px;
   padding-bottom: 102px;
   color: #636363; */

   position: relative;
   height: 796px;
   /* min-height: 500px; */
   width: 100%;
   background:#00001e url(../images/roadmapBg.png) no-repeat 50%;
   /* background-size: cover !important; */
	/* -webkit-background-size: cover !important; */
   /* text-align: center; */
   /* overflow: hidden; */
}


#roadmap .title {
   padding-top: 96px;
   margin-bottom: 90px;
}

#roadmap .condition {
   display: flex;
   justify-content: space-between;
}

#roadmap .condition .item {
   width: 280px;
   height: 385px;
   background: url(../images/block6.item.4fed_modify.png);   
}

#roadmap .condition .item h6 {
   font-size: 24px;
   height: 53px;
   line-height: 53px;
   font-family: Arial;
   font-weight: 700;
   color: #874d0d;
   padding-left: 20px;
   margin-bottom: 30px;
}

#roadmap .condition .item p {
   font-size: 18px;
   font-family: Arial;
   font-weight: 400;
   color: #7d8593;
   padding: 0 20px;
   margin-bottom: 10px;
   line-height: 24px;
}









#roadmap .section-head { margin-bottom: 42px; }

#roadmap a, #roadmap a:visited  { color: #11ABB0; }
#roadmap a:hover, #roadmap a:focus { color: #fff; }

#roadmap h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #EBEEEE;
   margin-bottom: 6px;
}
#roadmap h1 span { display: none; }
#roadmap h1:before {
   font-family: 'FontAwesome';
   content: "\f0e0";
	padding-right: 10px;
	font-size: 72px;
   line-height: 72px;
   text-align: left;
   float: left;
   color: #ebeeee;
}

#roadmap h4 {
   font: 16px/24px 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin-bottom: 6px;
}
#roadmap p.lead {
   font: 18px/36px 'opensans-light', sans-serif;
   padding-right: 3%;
}
#roadmap .header-col { padding-top: 6px; }


/* roadmap form */
#roadmap form { margin-bottom: 30px; }
#roadmap label {
   font: 15px/24px 'opensans-bold', sans-serif;
   margin: 12px 0;
   color: #EBEEEE;
	display: inline-block;
	float: left;
   width: 26%;
}
#roadmap input,
#roadmap textarea,
#roadmap select {
   padding: 18px 20px;
	color: #eee;
	background: #373233;
	margin-bottom: 42px;
	border: 0;
	outline: none;
   font-size: 15px;
   line-height: 24px;
   width: 65%;
}
#roadmap input:focus,
#roadmap textarea:focus,
#roadmap select:focus {
	color: #fff;
	background-color: #11ABB0;
}
#roadmap button.submit {
	text-transform: uppercase;
	letter-spacing: 3px;
	color:#fff;
   background: #0D0D0D;
	border: none;
   cursor: pointer;
   height: auto;
   display: inline-block;
	border-radius: 3px;
   margin-left: 26%;
}
#roadmap button.submit:hover {
	color: #0D0D0D;
	background: #fff;
}
#roadmap span.required {
	color: #11ABB0;
	font-size: 13px;
}
#message-warning, #message-success {
   display: none;
	background: #0F0F0F;
	padding: 24px 24px;
	margin-bottom: 36px;
   width: 65%;
   margin-left: 26%;
}
#message-warning { color: #D72828; }
#message-success { color: #11ABB0; }

#message-warning i,
#message-success i {
   margin-right: 10px;
}
#image-loader {
   display: none;
   position: relative;
   left: 18px;
   top: 17px;
}


/* Twitter Feed */
#twitter {
   margin-top: 12px;
   padding: 0;
}
#twitter li {
   margin: 6px 0px 12px 0;
   line-height: 30px;
}
#twitter li span {
   display: block;
}
#twitter li b a {
   font: 13px/36px 'opensans-regular', Sans-serif;
   color: #474747 !important;
   border: none;
}


/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 60px;
   /* margin-bottom: 48px; */
   /* color: #303030; */
   /* font-size: 14px; */
   /* text-align: center; */
   position: relative;
   height: 363px;
   background: url(../images/floor.efa2c9b3.jpg) no-repeat 50%;
   }


footer .des {
   position: absolute;
   top: -8px;
}

footer .logo {
   float: left;
   width: 120px;
   margin-right: 55px;
}

footer .text {
   float: left;
   width: 363px;
   margin-right: 105px;   
}

footer .text p {
   font-size: 18px;
   line-height: 24px;
   font-family: Arial;
   font-weight: 400;
   color: #7d8593;
}

footer .text p.copyright {
   margin-top: 40px;
}

footer .website {
   float: left;
   margin-right: 140px;
}

footer .website dt {
   font-size: 24px;
   font-family: Arial;
   font-weight: 700;
   color: #d6deed;
   margin-bottom: 20px;
}

footer .website dd {
   height: 32px;
   line-height: 32px;
}

footer .website dd a {
   font-size: 18px;
   font-family: Arial;
   font-weight: 400;
   color: #7d8593;
	text-indent: 0;
   text-decoration: none;

}

footer .community {
   float: left;
}

footer .community h6 {
   font-size: 24px;
   font-family: Arial;
   font-weight: 700;
   color: #d6deed;
   margin-bottom: 30px;
}

footer .community .inner {
   margin-bottom: 50px;
}

footer .community .inner a {
   margin-right: 15px;
}

footer .community .inner a img {
   width: 32px;
   height: 32px;
}

footer .community .el-select {
   width: 187px;
   height: 40px;
}

.el-select {
   display: inline-block;
   position: relative;
}

.el-select > .el-input {
   display: block;
}

.el-input {
   position: relative;
   font-size:14px;
   display: inline-block;
   width: 100%;
}

footer .community .el-select .el-input__inner {
   background-color: transparent;
   border-color: #303845;
}

.el-input--suffix .el-input__inner {
   cursor: pointer;
   padding-right: 35px;
}

.el-input__inner {
   -webkit-appearance: none;
   background-color: #fff;
   background-image: none;
   border-radius: 4px;
   border: 1px solid #dcdfe6;
   box-sizing: border-box;
   color: #606266;
   display: inline-block;
   font-size: inherit;
   height: 40px;
   line-height: 40px;
   outline: 0;
   padding: 0 15px;
   transition: border-color .2s cubic-bezier(.645,.045,.355,1);
   width: 100%;
}

footer .community .el-select .el-input__suffix {
   color: #303845;
}

.el-input__suffix {
   right: 5px;
   transition: all .3s;
}

.el-input__suffix {
   position: absolute;
   top: 0;
   -webkit-transition: all .3s;
   height: 100%;
   color: #c0c4cc;
   text-align: center;
}

.el-input__suffix-inner {
   pointer-events: all;
}

.el-select .el-input .el-select__caret {
   color: #c0c4cc;
    font-size: 14px;
    transition: transform .3s;
    transform: rotate(180deg);
    cursor: pointer;
}



























footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: 1px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 45px;
	height: 45px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
   padding-left: 6px;
}
#go-top a:hover { background-color: #0F9095; }


/* about new */
/* #about { */
   /* background-color: #00001e; */
   /* position: relative;  */
   /* height: 720px; */
   /* width: 100%; */
   /* background: #161415 url(../images/block2.f5672ddd.jpg) no-repeat 50%; */
   /* background-size: cover !important; */
	/* -webkit-background-size: cover !important; */
   /* text-align: center; */
   /* overflow: hidden; */
   /* color: #fff; */
   /* display: flex; */
   /* max-width: 1920px; */
   /* width: 100%; */
   /* margin-right: auto; */
   /* margin-left: auto; */
   /* position: relative; */
/* } */

/* .about {
   margin-top: 145px;
   color: #fff;
   display: flex;
   max-width: 1920px;
   width: 100%;
   margin-right: auto;
   margin-left: auto;
   position: relative;
} */

/* .about__desc._active {
   transition: translateY(0);
   transition: .8s;
   opacity: 1;
}

.about__desc {
   background-image: -webkit-image-set(url(../images/about-bg.png) 1x, url(../images/bg_x2.png) 2x);
   background-repeat: no-repeat;
   padding-top: 78px;
   padding-left: 211px;
   width: 43%;
   background-size: 100% 100%;
   position: relative;
   transform: translateX(-120%);
   transition: .8s;
   opacity: 0;
   will-change: auto;
}

.about__desc b {
   font-family: Antenna-Bold;
   font-size: 16px;
   line-height: 22px;
   letter-spacing: .06em;
   text-transform: uppercase;
   background: -webkit-linear-gradient(150deg,#fcb5ef -1.44%,#f7de52 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.about__desc h3 {
   font-family: Antenna-Bold;
   margin: 0;
   font-size: 36px;
   line-height: 50px;
}

.about__desc p {
   font-family: Gilroy-Regular;
   width: 415px;
   margin-top: 10px;
   font-size: 16px;
   line-height: 22px;
}

.about__desc .about_contactUS {
   background-image: url(../images/about-telegram.png);
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   height: 154px;
   width: 388px;
   margin-top: 40px;
   padding-top: 27px;
   padding-bottom: 27px;
}

.about__desc .about_contactUS p {
   font-family: Gilroy-Regular;
   font-size: 16px;
   line-height: 19px;
   width: 198px;
   margin-bottom: 13px;
   margin-top: 0;
}

.about__desc .about_contactUS a {
   font-family: Antenna-Medium;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 13px 35px;
   width: 112px;
   height: 48px;
   left: 0;
   background: rgba(255,255,255,.05);
   border: 2px solid rgba(255,255,255,.45);
   box-sizing: border-box;
   border-radius: 10px;
   font-size: 16px;
   line-height: 22px;
   text-align: center;
   letter-spacing: .06em;
   text-transform: uppercase;
   color: #fff;
   position: relative;
   z-index: 2;
}

.about__desc .about_contactUS a:before {
   content: "";
   position: absolute;
   top: -2px;
   left: -2px;
   width: 100%;
   height: 100%;
   border-radius: 10px;
   border: 2px solid rgba(111,220,255,.7);
   opacity: 0;
   z-index: 1;
   will-change: auto;
}

.about__connecting {
   position: relative;
}

.about__connecting .about-animate {
   position: relative;
   height: 320px;
}

.about__connecting .about-animate__item {
   position: absolute;
}

.about__connecting .about-animate._active .about-animate__item:first-child {
   transform: translateY(0);
   transition: .8s;
   opacity: 1;
}

.about__connecting .about-animate__item:first-child {
   top: 32px;
   left: -28px;
   transform: translateY(100%);
   transition: .8s;
   opacity: 0;
}

.about__connecting .about-animate._active .about-animate__item:nth-child(2) {
   transform: translateX(0);
   transition: .8s, .3s;
   opacity: 1;
   z-index: 1;
}

.about__connecting .about-animate__item:nth-child(2) {
   top: 146px;
   left: -38px;
   transform: translateX(-120%);
   transition: .8s;
   opacity: 0;
   will-change: auto;
}

.about__connecting .about-animate._active .about-animate__item:nth-child(3) {
   transform: translateY(0);
   transition: .8s .5s;
   opacity: 1;
}

.about__connecting .about-animate__item:nth-child(3) {
   top: 93px;
   left: 205px;
   transform: translateY(120%);
   transition: .8s;
   opacity: 0;
   will-change: auto;
}

.about__connecting .about-animate._active .about-animate__item:nth-child(4) {
   transform: translateY(0);
   transition: .8s .6s;
   opacity: 1;
}

.about__connecting .about-animate__item:nth-child(4) {
   top: 115px;
   left: 226px;
   transform: translateY(50%);
   transition: .8s;
   opacity: 0;
   will-change: auto;
}

.about__connecting .about-animate._active .about-animate__item:nth-child(5) {
   transform: translateX(0);
   transition: .8s .6s;
   opacity: 1;
}

.about__connecting .about-animate__item:nth-child(5) {
   top: -7px;
   left: 236px;
   transform: translateX(120%);
   transition: .8s;
   opacity: 0;
   will-change: auto;
}

.about__connecting .about__text {
   position: absolute;
   width: 504px;
   bottom: 50px;
   left: -52px;
}

.about__connecting .about__text h3 {
   font-family: Antenna-Medium;
   font-size: 24px;
   line-height: 125%;
   letter-spacing: .06em;
   text-transform: uppercase;
}

.about__connecting .about__text p {
   font-family: Gilroy-Regular;
   font-size: 16px;
   line-height: 21px;
} */












